@using WorldMoodMap.Models
@using Microsoft.AspNet.Mvc.Facebook.Models
@using Logic.Entities

@model HomeModel
@{
    ViewBag.Title = "Home Page";
}

<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<script type='text/javascript'>
    google.load('visualization', '1', { 'packages': ['geochart'] });
    google.setOnLoadCallback(drawRegionsMap);

    function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable([
          ['Country', 'Popularity'],
          ['Germany', 200],
          ['United States', 300],
          ['Brazil', 400],
          ['Canada', 500],
          ['France', 600],
          ['RU', 700],
          ['BY', 600]
        ]);

        var options = { colorAxis: { colors: ['#00ff00', '#00708F'] } };

        var chart = new google.visualization.GeoChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    };

    function toggleMood() {
        var hide = $('#mood-choser').attr('display') == 'none';

        if (hide) {

        }
        else {
            $('.my-mood').addClass('opened');
            $('.mood-chooser').show();
            $('#myMood').hide();
        }
    };
</script>

<header>
    <div class="my-mood">
        
        <div id="myMood">
            <div style="float: left;">
                @*<span class="fa fa-smile-o"></span><span class="my-mood-question">What's your mood?</span>*@
                <img alt="" src="@Model.Mood.Image" />
                <span class="text">@Model.Mood.Name</span>
            </div>
            <div style="float: right;">
                <span class="fa fa-angle-down" onclick="toggleMood();"></span>
            </div>
        </div>
        <div class="mood-chooser">
            @using (Html.BeginForm("Index", "Home")) {
            @Html.AntiForgeryToken()
            
                <div class="combobox">
                    <div class="cmb-header">
                        <img alt="" src="@Model.Mood.Image" />
                        <span class="text">@Model.Mood.Name</span>
                    </div>
                    <div class="cmb-options">
                        <ul>
                            @foreach (Mood mood in Mood.GetAll()) {
                                <li>
                                    <img alt="" src="@mood.Image">
                                    <span class="text">@mood.Name</span>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="combobox">
                    <div class="cmb-header">

                    </div>
                    <div class="cmb-options">
                        <ul>
                            @foreach (Country country in Country.GetAll()) {
                                <li>
                                    <span class="text">@country.Name</span>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <button type="submit" class="button">Submit</button>
                <button type="button" class="button" onclick="toggleMood();">Cancel</button>
            }
        </div>
    </div>
</header>

<article class="users">
    @if (Model.User.Friends != null && Model.User.Friends.Data != null && Model.User.Friends.Data.Count > 0)
    {
        foreach (var myFriend in Model.User.Friends.Data)
        {
        <div class="user">
            @if (myFriend.Picture != null && myFriend.Picture.Data != null)
            {
                <a class="avatar" href="@myFriend.Link" target="_blank">
                    <img src="@myFriend.Picture.Data.Url" />   
                </a>
            }

            <label class="name">@myFriend.Name</label>
        </div>
        }
    }
    else
    {
        <p>No friends found.</p>
    }

    <div id="chart_div" style="width: 900px; clear: both;"></div>
</article>

@*@Scripts.Render("~/Scripts/viewmodels/main.js")*@

@*<script>
    var vm = window.viewModel;

    //vm.applyMask(document.body);
    


    vm.mood(new Mood({
        id: '@Model.Id',
        
    }));
    vm.country(result[0].Placeholders);
    

    ko.applyBindings(window.viewModel);

    vm.removeMask(document.body);
</script>*@