@using WorldMoodMap.Models
@using Microsoft.AspNet.Mvc.Facebook
@using Microsoft.AspNet.Mvc.Facebook.Models
@using Logic.Entities

@model HomeModel
@{
    ViewBag.Title = "Home Page";
}

<script type='text/javascript'>
    function toggleMood() {
        var show = $('#moodChooser').css('display') == 'none';

        $('.my-mood').toggleClass('opened');
        $('.mood-chooser').toggle();
        $('#myMood').toggle();

        //if (show) {
            
        //    $('.mood-chooser').show();
        //    $('#myMood').hide();
        //}
        //else {
        //    $('.my-mood').addClass('opened');
        //}
    };

    function toggleMoodCombo() {
        var show = $('#moodOptions').css('display') == 'none';

        if (show) {
            var pos = $('#moodHeader').offset().top + $('#moodHeader').outerHeight();

            $('#moodOptions').css('top', pos + 'px');
            $('#moodOptions').show();
        }
        else {
            $('#moodOptions').hide();
        }
    };

    function toggleCountryCombo() {
        var show = $('#countryOptions').css('display') == 'none';

        if (show) {
            var pos = $('#countryHeader').offset().top + $('#countryHeader').outerHeight();

            $('#countryOptions').css('top', pos + 'px');
            $('#countryOptions').show();
        }
        else {
            $('#countryOptions').hide();
        }
    };

    function selectMood(item) {
        $('#moodName, #moodCmbName').html(item.children('.text').html());
        $('#moodImage, #moodCmbImage').attr('src', item.children('img').attr('src'));
        $('#hdnMood').val(item.children('.id').html());
        toggleMoodCombo();
    };

    function selectCountry(item) {
        $('#countryName').html(item.children('.text').html());
        $('#hdnCountry').val(item.children('.id').html());
        toggleCountryCombo();
    };

    function submit() {
        $('#btnSubmit').hide();
        $('#btnProgress').show();

        $.ajax({
            url: '@Url.Content("~/")Home/SaveMood',
            type: 'POST',
            data: { userId: $('#hdnUser').val(), moodId: $('#hdnMood').val(), countryId: $('#hdnCountry').val() },
            dataType: 'json',
            success: function (result) {
                if (result.success) {
                    toggleMood();
                }
                else {
                    $('#btnSubmit').show();
                    $('#btnProgress').hide();
                    alert('Can\'t save the data. Please try again.');
                }
            },
            error: function () {
                $('#btnSubmit').show();
                $('#btnProgress').hide();
                alert('Can\'t save the data. Please try again.');
            }
        }).done(function () {
            $('#btnSubmit').show();
            $('#btnProgress').hide();
        });
    };
</script>

<div id="moodOptions" class="cmb-options">
    <ul>
        @foreach (Mood mood in Mood.GetAll()) {
            <li onclick="selectMood($(this));">
                <img alt="" src="@mood.Image">
                <span class="text">@mood.Name</span>
                <span class="id">@mood.Id</span>
            </li>
        }
    </ul>
</div>

<div id="countryOptions" class="cmb-options">
    <ul>
        @foreach (Country country in Country.GetAll()) {
            <li onclick="selectCountry($(this));">
                <span class="text">@country.Name</span>
                <span class="id">@country.Id</span>
            </li>
        }
    </ul>
</div>

<header>
    <a class="show-map" href="@Url.Action("Map", "Home")">
        show map <span class="fa fa-arrow-circle-o-right" style="font-size: 30px;"></span>
    </a>

    <div class="my-mood" style="clear: both;">
        
        <div id="myMood">
            <div style="float: left;">
                @*<span class="fa fa-smile-o"></span><span class="my-mood-question">What's your mood?</span>*@
                <img id="moodImage" alt="" src="@Model.Mood.Image" />
                <span id="moodName" class="text">@Model.Mood.Name</span>
            </div>
            <div style="float: right;">
                <span class="fa fa-angle-down" style="margin-top: -3px;" onclick="toggleMood();"></span>
            </div>
        </div>
        <div id="moodChooser" class="mood-chooser">
          @*  @using (Html.BeginForm("Index", "Home")) {
            @Html.AntiForgeryToken()

             *@
                <input type="hidden" name="userId" id="hdnUser" value="@Model.UserId" />
                <input type="hidden" name="moodId" id="hdnMood" value="@Model.Mood.Id" />
                <input type="hidden" name="countryId" id="hdnCountry" value="@Model.Country.Id" />
                    
                <div class="combobox">
                    <div id="moodHeader" class="cmb-header" onclick="toggleMoodCombo();">
                        <div style="float: left;">
                            <img id="moodCmbImage" alt="" src="@Model.Mood.Image" />
                            <span id="moodCmbName" class="text">@Model.Mood.Name</span>
                        </div>
                        <div style="float: right;">
                            <span class="fa fa-caret-down"></span>
                        </div>
                    </div>
                    
                </div>
                
                <div class="combobox cmb-location">
                    <div id="countryHeader" class="cmb-header" onclick="toggleCountryCombo();">
                        <div style="float: left;">
                            <span id="countryName" class="text">@Model.Country.Name</span>
                        </div>
                        <div style="float: right;">
                            <span class="fa fa-caret-down"></span>
                        </div>
                    </div>
                    
                </div>
                
                <button id="btnSubmit" class="button submit" type="button" onclick="submit();">
                    <span class="fa fa-check"></span> submit
                </button>
                <button id="btnProgress" class="button submit" type="button" style="display: none;">
                    <span class="fa fa-spinner fa-spin"></span> please wait
                </button>
                @*<button type="button" class="button" onclick="toggleMood();">cancel</button>*@
          @*  }*@
        </div>
    </div>
</header>

<article class="users">
    @if (Model.Friends != null && Model.Friends.Count > 0)
    {
        foreach (var myFriend in Model.Friends)
        {
        <div class="user">
            @if (myFriend.Picture != null && myFriend.Picture.Data != null)
            {
                <a class="avatar" href="@myFriend.Link" target="_blank">
                    <img src="@myFriend.Picture.Data.Url" />   
                </a>
            }

            <div class="info">
                <label class="name">@myFriend.Name</label>
                
                <div class="friend-mood-info">
                    @if (myFriend.Mood != null) {
                        <img alt="" src="@myFriend.Mood.Image" />
                        <label class="friend-mood">@myFriend.Mood.Name</label>
                    }
                </div>
            </div>
            
            
        </div>
        }
    }
    else
    {
        <p>No friends found.</p>
    }
</article>

@*@Scripts.Render("~/Scripts/viewmodels/main.js")*@

@*<script>
    var vm = window.viewModel;

    //vm.applyMask(document.body);
    


    vm.mood(new Mood({
        id: '@Model.Id',
        
    }));
    vm.country(result[0].Placeholders);
    

    ko.applyBindings(window.viewModel);

    vm.removeMask(document.body);
</script>*@